#projectName {
    top: 1%;
    right: 50%;
    padding: 10px;
    position: fixed;
    z-index: 99;
    color: aliceblue;
}

#onlineUserCount {
    top: 1%;
    right: 1%;
    padding: 10px;
    position: fixed;
    z-index: 99;
    color: aliceblue;
}

#circularcursor {
    background-color: transparent;
    border: 1px solid black;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    position: absolute;
    z-index: 1;
}